*{
	margin:0;
	padding:0;
}
::-webkit-scrollbar{
	background:white;
}
::-webkit-scrollbar-button{
	height:0;
}
::-webkit-scrollbar-thumb{
	background:black;
	border-radius:20px;
}
::-webkit-scrollbar-track{
	background:;
}

body{
	display:flex;
	height:100vh;
	width:100vw;
	flex-direction:row;
	overflow:hidden;
}

body aside#wrapper-aside{
	display:block;
	z-index:10;
	height:100%;
	width:250px;
	min-width:250px;
	background:var(--background-aside);
	background-repeat:no-repeat;
	background-size: cover;
	background-position:left;
	animation: 60s ease-in-out 1s infinite alternate backgroundslide;
}
@keyframes backgroundslide{
	from {background-position:left;}
	to {background-position:right;}
}
body aside#wrapper-aside section#inner-wrapper{
	display:block;
	height:100%;
	width:100%;
	background:#000A;
}
body aside#wrapper-aside section#logo{
	display:flex;
	height:12%;
	width:100%;
	justify-content:center;
	align-items:center;
}
body aside#wrapper-aside section#logo h1{
	text-align:center;
	font-size:1.2rem;
	color:#fff;
	font-family:RainFall;
}
body aside#wrapper-aside section#logo h1 span:last-child{
	font-size:2rem;
	font-family:Cosmonaut;
	letter-spacing:5px;
}
body aside#wrapper-aside nav{
	display:flex;
	height:88%;
	width:100%;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
}
body aside#wrapper-aside nav ul{
	display:block;
	min-height:250px;
	width:100%;
}
body aside#wrapper-aside nav ul:last-child{
	position:relative;
	min-height:100px;
	background:#111;
	padding:20px 0;
}
body aside#wrapper-aside nav ul li{
	display:block;
	height:16.66%;
	width:100%;
}
body aside#wrapper-aside nav ul:last-child li{
	display:block;
	height:33.33%;
	width:100%;
}
body aside#wrapper-aside nav ul:last-child:before{
	content:'';
	position:absolute;
	bottom:100%;
	height:20px;
	width:100%;
	clip-path:polygon(0% 0%, 100% 100%, 0% 100%);
	background:#111;
}
body aside#wrapper-aside nav ul a{
	display:flex;
	box-sizing:border-box;
	width:100%;
	padding:5px 5%;
	justify-content:center;
	align-items:center;
	flex-direction:row;
	text-decoration:none;
	color:#fff;
	font-family:TheBoldFont;
	font-size:1.2rem;
	text-align:right;
	transition:200ms;
}
body aside#wrapper-aside nav ul a img{
	display:block;
	height:100%;
}
body aside#wrapper-aside nav ul a span{
	display:block;
	width:100%;
}

/*hover menu link*/
body aside#wrapper-aside nav ul li:hover a{
	font-size:1.4rem;
	text-decoration:underline overline;
}
body aside#wrapper-aside nav ul li:hover img{
	display:block;
	height:50%;
}
body aside#wrapper-aside nav ul li:hover span{
	width:100%;
}
/* pub section */
body aside#wrapper-aside nav section#ad{
	display:block;
	box-sizing:border-box;
	height:100%;
	width:100%;
	padding:10px;
}
body aside#wrapper-aside nav section#ad iframe{
	max-height:100%;
	min-height:100%;
	width:100%;
}
/*Section principale*/
body section#wrapper-principal{
	display:block;
	height:100%;
	width:100%;
	overflow-y:auto;
}
body section#wrapper-principal div#inner-wrapper{
	display:block;
	position:relative;
	width:100%;
}


/*Bar de navigation*/
body section#wrapper-principal section#navigation{
	display:block;
	z-index:100;
	position:absolute;
	top:0;
	height:8vh;
	width:100%;
	background:var(--background-upper-menu);
}